<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd">
        
	<bean id="userDao" class="org.jie.dao.impl.UserDaoImpl"></bean>
	
	<bean id="logAspect" class="org.jie.aspect.LogAspect"></bean>
	
	<aop:config>
		<aop:aspect ref="logAspect">
			<aop:pointcut expression="execution(* org.jie.dao.*.*.add(..))" id="aopLogPointCut"/>
			<aop:before method="log" pointcut-ref="aopLogPointCut"/>
			<aop:after method="logAfter" pointcut-ref="aopLogPointCut"/>
		</aop:aspect>
	</aop:config>
</beans>